name: Terraform Deployment

on:
  push:
    branches: ["main"]

env:
  AWS_REGION: us-east-1

jobs:
  CICD:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Format Fix
        run: terraform fmt

      - name: Terraform Format
        run: terraform fmt -check

      - name: Create backend config
        run: |
          echo 'bucket = "sctp-ce11-tfstate"' > backend.tfvars
          echo 'key    = "devsecops/terraform.tfstate"' >> backend.tfvars
          echo 'region = "us-east-1"' >> backend.tfvars

      - name: List files
        run: ls -l

      - name: Terraform Init
        run: terraform init -backend-config=backend.tfvars

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -var-file=terraform.tfvars

      - name: Terraform Apply
        run: terraform apply -var-file=terraform.tfvars --auto-approve
